"COUNTY","PRECINCT_CODE","SPLIT_CODE","DISTRICT_CODE","DISTRICT_TYPE","DISTRICT_NAME"
"Adams","4253001245","1245","FED","Federal","Federal"
"Adams","4253001245","1245","4","Congressional","Congressional 4"
"Adams","4253001245","1245","CO","Statewide","State of Colorado"
"Adams","4253001245","1245","BE","State Board of Education - At Large","State Board of Education At Large"
"Adams","4253001245","1245","4","State Board of Education","State Board of Education 4"
"Adams","4253001245","1245","UC","University of Colorado Regents - At Large","University of Colorado Regents At Large"
"Adams","4253001245","1245","4","University of Colorado Regents","University of Colorado Regents 4"
"Adams","4253001245","1245","25","State Senate","State Senate 25"
"Adams","4253001245","1245","30","State House","State House 30"
"Adams","4253001245","1245","17","Judicial","Judicial 17"
"Adams","4253001245","1245","CRT","Consolidated Regional Transportation","CONSOLIDATED REGIONAL TRANSPORTATION"
"Adams","4253001245","1245","CD 5","County Commissioner","COMMISSIONER DISTRICT 5"
"Adams","4253001245","1245","Adams Co","Countywide","Adams"
"Adams","4253001245","1245","SD 29J","School","BENNETT 29J SCHOOL DISTRICT"
"Adams","4253001245","1245","BEN FPD","Fire Protection","BENNETT FIRE PROTECTION DISTRICT"
"Adams","4253001245","1245","LCGWMD","Groundwater Management","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT"
"Adams","4253001245","1245","RNGVW LD","Library","RANGEVIEW LIBRARY DISTRICT"
"Adams","4253001245","1245","BEN P&R","Park and Recreation","BENNETT PARK AND RECREATION DISTRICT"
"Adams","4253001245","1245","SCFD","Scientific Cultural Facilities","Scientific and Cultural Facilities"
"Adams","4253001245","1245","LCGWMD2","Water Sub","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT DIVISION 2"
"Adams","4253001245","1359","FED","Federal","Federal"
"Adams","4253001245","1359","4","Congressional","Congressional 4"
"Adams","4253001245","1359","CO","Statewide","State of Colorado"
"Adams","4253001245","1359","BE","State Board of Education - At Large","State Board of Education At Large"
"Adams","4253001245","1359","4","State Board of Education","State Board of Education 4"
"Adams","4253001245","1359","UC","University of Colorado Regents - At Large","University of Colorado Regents At Large"
"Adams","4253001245","1359","4","University of Colorado Regents","University of Colorado Regents 4"
"Adams","4253001245","1359","25","State Senate","State Senate 25"
"Adams","4253001245","1359","30","State House","State House 30"
"Adams","4253001245","1359","17","Judicial","Judicial 17"
"Adams","4253001245","1359","CRT","Consolidated Regional Transportation","CONSOLIDATED REGIONAL TRANSPORTATION"
"Adams","4253001245","1359","CD 5","County Commissioner","COMMISSIONER DISTRICT 5"
"Adams","4253001245","1359","Adams Co","Countywide","Adams"
"Adams","4253001245","1359","SD 3J","School","WELD COUNTY RE-3J SCHOOL DIST."
"Adams","4253001245","1359","AIMS CC","Community College/Junior College","AIMS COMMUNITY COLLEGE"
"Adams","4253001245","1359","BEN FPD","Fire Protection","BENNETT FIRE PROTECTION DISTRICT"
"Adams","4253001245","1359","LCGWMD","Groundwater Management","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT"
"Adams","4253001245","1359","RNGVW LD","Library","RANGEVIEW LIBRARY DISTRICT"
"Adams","4253001245","1359","BEN P&R","Park and Recreation","BENNETT PARK AND RECREATION DISTRICT"
"Adams","4253001245","1359","SCFD","Scientific Cultural Facilities","Scientific and Cultural Facilities"
"Adams","4253001245","1359","LCGWMD3","Water Sub","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT DIVISION 3"
"Adams","4253001245","1378","FED","Federal","Federal"
"Adams","4253001245","1378","4","Congressional","Congressional 4"
"Adams","4253001245","1378","CO","Statewide","State of Colorado"
"Adams","4253001245","1378","BE","State Board of Education - At Large","State Board of Education At Large"
"Adams","4253001245","1378","4","State Board of Education","State Board of Education 4"
"Adams","4253001245","1378","UC","University of Colorado Regents - At Large","University of Colorado Regents At Large"
"Adams","4253001245","1378","4","University of Colorado Regents","University of Colorado Regents 4"
"Adams","4253001245","1378","25","State Senate","State Senate 25"
"Adams","4253001245","1378","30","State House","State House 30"
"Adams","4253001245","1378","17","Judicial","Judicial 17"
"Adams","4253001245","1378","CRT","Consolidated Regional Transportation","CONSOLIDATED REGIONAL TRANSPORTATION"
"Adams","4253001245","1378","CD 5","County Commissioner","COMMISSIONER DISTRICT 5"
"Adams","4253001245","1378","Adams Co","Countywide","Adams"
"Adams","4253001245","1378","SD 3J","School","WELD COUNTY RE-3J SCHOOL DIST."
"Adams","4253001245","1378","AIMS CC","Community College/Junior College","AIMS COMMUNITY COLLEGE"
"Adams","4253001245","1378","SEWELD FPD","Fire Protection","SOUTHEAST WELD FIRE PROTECTION DISTRICT"
"Adams","4253001245","1378","LCGWMD","Groundwater Management","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT"
"Adams","4253001245","1378","RNGVW LD","Library","RANGEVIEW LIBRARY DISTRICT"
"Adams","4253001245","1378","SCFD","Scientific Cultural Facilities","Scientific and Cultural Facilities"
"Adams","4253001245","1378","LCGWMD3","Water Sub","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT DIVISION 3"
"Adams","4253001245","1559","FED","Federal","Federal"
"Adams","4253001245","1559","4","Congressional","Congressional 4"
"Adams","4253001245","1559","CO","Statewide","State of Colorado"
"Adams","4253001245","1559","BE","State Board of Education - At Large","State Board of Education At Large"
"Adams","4253001245","1559","4","State Board of Education","State Board of Education 4"
"Adams","4253001245","1559","UC","University of Colorado Regents - At Large","University of Colorado Regents At Large"
"Adams","4253001245","1559","4","University of Colorado Regents","University of Colorado Regents 4"
"Adams","4253001245","1559","25","State Senate","State Senate 25"
"Adams","4253001245","1559","30","State House","State House 30"
"Adams","4253001245","1559","17","Judicial","Judicial 17"
"Adams","4253001245","1559","CRT","Consolidated Regional Transportation","CONSOLIDATED REGIONAL TRANSPORTATION"
"Adams","4253001245","1559","CD 5","County Commissioner","COMMISSIONER DISTRICT 5"
"Adams","4253001245","1559","Adams Co","Countywide","Adams"
"Adams","4253001245","1559","SD 29J","School","BENNETT 29J SCHOOL DISTRICT"
"Adams","4253001245","1559","BEN FPD","Fire Protection","BENNETT FIRE PROTECTION DISTRICT"
"Adams","4253001245","1559","LCGWMD","Groundwater Management","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT"
"Adams","4253001245","1559","RNGVW LD","Library","RANGEVIEW LIBRARY DISTRICT"
"Adams","4253001245","1559","BEN P&R","Park and Recreation","BENNETT PARK AND RECREATION DISTRICT"
"Adams","4253001245","1559","SCFD","Scientific Cultural Facilities","Scientific and Cultural Facilities"
"Adams","4253001245","1559","LCGWMD3","Water Sub","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT DIVISION 3"
"Adams","4253001245","1560","FED","Federal","Federal"
"Adams","4253001245","1560","4","Congressional","Congressional 4"
"Adams","4253001245","1560","CO","Statewide","State of Colorado"
"Adams","4253001245","1560","BE","State Board of Education - At Large","State Board of Education At Large"
"Adams","4253001245","1560","4","State Board of Education","State Board of Education 4"
"Adams","4253001245","1560","UC","University of Colorado Regents - At Large","University of Colorado Regents At Large"
"Adams","4253001245","1560","4","University of Colorado Regents","University of Colorado Regents 4"
"Adams","4253001245","1560","25","State Senate","State Senate 25"
"Adams","4253001245","1560","30","State House","State House 30"
"Adams","4253001245","1560","17","Judicial","Judicial 17"
"Adams","4253001245","1560","CRT","Consolidated Regional Transportation","CONSOLIDATED REGIONAL TRANSPORTATION"
"Adams","4253001245","1560","CD 5","County Commissioner","COMMISSIONER DISTRICT 5"
"Adams","4253001245","1560","Adams Co","Countywide","Adams"
"Adams","4253001245","1560","SD 29J","School","BENNETT 29J SCHOOL DISTRICT"
"Adams","4253001245","1560","BEN FPD","Fire Protection","BENNETT FIRE PROTECTION DISTRICT"
"Adams","4253001245","1560","LCGWMD","Groundwater Management","LOST CREEK GROUNDWATER MANAGEMENT DISTRICT"
"Adams","4253001245","1560","RNGVW LD","Library","RANGEVIEW LIBRARY DISTRICT"
"Adams","4253001245","1560","BEN P&R","Park and Recreation","BENNETT PARK AND RECREATION DISTRICT"
